* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
    width: 100%;
    height: 100%;
}

.center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
}

.title {
    text-align: center;
}

.photo-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-name, .photographer-name {
    margin-top: 20px;
}

.like {
    margin-top: 20px;
    min-width: 220px;
    min-height: 110px;
    padding: 10px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
}

.like-btn {
    border: 2px solid black;
    background: none;
    cursor: pointer;
    font-size: 24px;
    width: 240px;
    height: 60px;
    border-radius: 12px;
    font-weight: bold;
}

.like-btn:hover {
    color: red;
    background-color: aqua;
    transition: 0.6s ease;
}